Workflow to reorganise data from record to usuable information.

Extract current age from ID information(in string format).

In [2]:
from astropy.io import fits
from astropy.table import Table, join, vstack, Column
from astropy.table import QTable
from matplotlib import pyplot as plt
import numpy as np
import os
import math as m
import csv
import pandas as pd
from scipy.stats import ks_2samp, norm
from scipy import stats
import seaborn as sns
from astropy.utils.data import get_pkg_data_filename
from matplotlib.colors import LogNorm
from astropy.nddata import Cutout2D
from astropy.coordinates import ICRS, Galactic, FK4, FK5
from matplotlib.patches import Rectangle
np.set_printoptions(threshold=100000)
import matplotlib.mlab as mlab
import random
from astropy.visualization import simple_norm
import scipy.constants as constants
from scipy.signal import find_peaks
from astropy.io import fits
from math import nan
import re

In [24]:
#function to convert list of integers into a single number

def convert(list):
     
    # Converting integer list to string list
    s = [str(i) for i in list]
     
    # Join list items using join()
    res = int("".join(s))
     
    return(res)

In [5]:
InfoTab = pd.read_excel('GSEA_Report.csv') #local confidential file

In [56]:
Year_Birth = []
Age = []

for i in range(len(InfoTab)):
    
    ID = InfoTab['NIC'][i]
    ID_num = re.findall(r'\d+', ID) #find digits in ID number (containing letters and numbers)
    
    ID_digits = [int(x) for x in str(ID_num[0])] # list of ID number digits
    
    DOB_year_list = [1,9, ID_digits[4], ID_digits[5]] #extract digits corresponding to date of birth in ID
    
    DOB_year = convert(DOB_year_list)
    
    age_2023 = 2023 - DOB_year #calculate age in 2023
    
    Year_Birth.append(DOB_year)
    
    Age.append(age_2023)

In [58]:
InfoTab['Year_of_Birth'] = Year_Birth
InfoTab['Age_in_2023'] = Age

In [60]:
InfoTab

,NAME,NIC,Year_of_Birth,Age_in_2023
0,"AUGUSTIN- LAW SAN, MARIE VONETTE",A0211738108939,1973,50
1,"AGATHE, AUREL",A2509618107380,1961,62
2,"AGATHE, BENOIT JOSEPH PIERRE",A3010598107707,1959,64
3,"AGATHE, CLAUDE",A2404488101248,1948,75
4,"AGATHE, CLAUDE",A1809438104628,1943,80
...,...,...,...,...
568,"VOLBERT, LUICE",V1311448103405,1944,79
569,"VOLBERT, MAXY",V021251810153O,1951,72
570,"VOLBERT, STANLEY",V050982810819C,1982,41
571,"WATERSTONE, SAUL",W060947810430A,1947,76
572,"ZAMIR, REYNOLD",Z0407568103934,1956,67

In [61]:
InfoTab.to_excel("GSEA_Report_age.xlsx")  
InfoTab.to_csv("GSEA_Report_age.csv")